/* 
colors:
dark-blue #00216B, #03026B
dark yellow: #FFCC00


*/
html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    box-sizing: 0;
}

/* .app-container {
    background-color: #fcd22d;
    height: 100vh;
    display: grid;

} */

.top-bar {
    background-color: #00216B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}

.avatar__image,.notification__icon {
    width: 3em;
}

.avatar {
    margin: 0 2em 0 1.5em;
    /* width: 5em; */
}

.edit__icon{
    font-size: 2em;
    margin: 0 0 0 1em;
    /* color: rgb(255, 255, 255); */
}
.logo{
    width: 4em;
}

.company-logo {
    margin: 0 0 0 1em;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.user__info {
    display: flex;
}
.dashboard__text {
    display: inline;
    margin: 0 0 0 .5em;
    color: #fafafa;
}
.services {
    background-color: #00216B;
    border-radius: 1em 0 0 1em;
    margin-left: 1em;
    padding: 1em;
}
.dash_menu {
    /* flex-wrap: wrap; */
    display: flex;
    align-items: center;
    color: #fafafa;
    font-size: 1.5rem;
    border-bottom: 1px solid #fafafa;
    border-top: 1px solid #fafafa;
}

img.dashboard__icon {
    margin: .5em .5em;
}

.drop__icon {
    margin: 0 2em;
}
.app-container {
    background-color: #fcd22d;
    /* height: 100vh; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(9, 1fr); */
    /* gap: 2em; */
}

header {
    grid-column-start: 1;
    grid-column-end: -1;
    height: max-content;
    /* gap: 2em; */
}

main {
    /* display: grid; */
    background-color: aliceblue;
    grid-column-start: 2;
    grid-column-end: 5;
}

li{
    list-style-type: none;
    color: #fafafa;
}