/* 
colors:
dark-blue #00216B, #03026B
dark yellow: #FFCC00


*/
html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    box-sizing: 0;
}

.top-bar {
    /* background-color: #01287e; */
    background-color: #346cb0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0.25em; */
    /* min-width: 100vw; */
    left: 0;
    right: 0;
    position: fixed;
}

.avatar__icon:hover,
.notification__icon:hover,
.edit__icon:hover {
    cursor: pointer;
    background-color: #2e63a3;
}

.avatar__icon,
.edit__icon,
.notification__icon {
    width: 2em;
    padding: .7em;
}

.avatar {
    margin-inline: 0 2em;
}

.logo {
    width: 3.5em;
}

.company-logo {
    margin-inline-start: 1em;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user__info {
    display: flex;
    align-items: center;
}

.dashboard__text {
    display: inline;
    margin: 0 0 0 .25em;
    color: #fafafa;
}

.services {
    background-color: #00216B;
    border-radius: 1em 0 0 1em;
    margin-left: 1em;
    padding: 1em 0em;
    margin-top: 3.4em;
    /* min-width: 10em */
}

.dash_menu {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    color: #ffffff;
    font-size: 1.5rem;
    border-bottom: 1px solid #fafafa;
    border-top: 1px solid #fafafa;
    transition: .5s;
    cursor: pointer;
}
.hide__service{
    display: none;
}

.dash_menu:hover {
    background-color: #346cb079;
}

img.dashboard__icon {
    margin: .5em .5em;
}

.drop__icon {
    margin: 0 1.5em;
}
.drop__icon:hover{
    color: rgb(135 125 125);
}
.drop__icon:active{
    color: rgb(73, 73, 73);
}


.app-container {
    background-color: #f6f7f9;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

header {
    grid-column-start: 1;
    grid-column-end: -1;
    height: max-content;
    /* gap: 2em; */
}

main {
    min-height: 100vh;
    background-color: aliceblue;
    grid-column-start: 2;
    grid-column-end: 5;
    /* position: relative; */
    /* top: 7%; */
    margin-top: 3.3em;
    padding: 1em;
}

li.service-item{
    list-style-type: none;
    color: #fafafa;
    margin: .5em;
    padding: .5em;
    cursor: pointer;
}
li.service-item:hover {
    background-color: #3670b778;
}

.cog__icon,
.logout__icon {
    width: 2em;
}

a.drop__cmd {
    text-decoration: none;
    color: #292929;
    display: block;
    font-weight: 600;
    margin-block: .5em;
    padding: .5em 1.25em;
}

/* action menus*/
.user__drop__menu {
    display: none;
    background-color: #f6f7f9;
    padding: 0 .5em;
    position: absolute;
    top: 4em;
    right: 1%;
    box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 42%);
    border-radius: .5em;
}
.user__drop__menu:hover {
    /* transition: .5s; */
}

.drop__cmd:hover {
    background-color: #346cb0;
}

.dropdown__icon {
    position: absolute;
    right: 15%;
    bottom: 1.9em;
    transform: rotate(180deg);
    color: #f6f7f9;
    font-size: 45px;
}

.toggle__down{
    transform: rotate(180deg);
}

footer {
    text-align: center;
    grid-column: -5/-1;
    background-color: #346cb0;;
}
.foot-text {
    font-weight: 300;
    color: #a5acc5;
}