@font-face {
    font-family: 'JK Abode';
    font-style: normal;
    font-weight: 400;
    src: local('JK Abode'), url('https://fonts.cdnfonts.com/s/15053/JKAbode-Demo.woff') format('woff');
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    box-sizing: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'League Spartan', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    height: 100%;

}

.login-wrapper {
    display: flex;
    color: #fff;
    justify-content: space-between;
    /* column-gap: 45em; */
    width: 100%;
}

.welcome {
    position: relative;
}

.welcome-cirlce {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: end;
    height: 650px;
    width: 650px;
    border-radius: 50%;
    background-color: #03026B;
    color: #fff;
    box-shadow: 14px 2px 20px 0px #00000091;
}

.ballon-container {
    position: absolute;
    flex-direction: column;
    margin-left: 5em;
}

div.ballon {
    position: relative;
    width: 99px;
    height: 99px;
    border-radius: 49.5px;
    background-color: #FFCC00;
}

.welcome-text {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 .5em;
}


input {
    display: block;
}

.login-frame {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    width: 22.375em;
    border-radius: 4em;
    text-align: center;
}

.login-text {
    color: #03026B;
    font-size: 6rem;
    font-family: 'JK Abode', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.logo {
    width: 8em;
    margin-bottom: 1.5em;
    margin-bottom: 0.25em;
}

.company-logo {
    display: inline-block;
    margin: 5em auto 0;
}

span.login-text {
    margin-bottom: .25em;
}

.loginfield-text {
    color: rgb(43, 43, 43);
    margin-bottom: 1.4em;
    line-height: 1.5;
    font-size: 1rem;
}

form {
    width: 100%;
}

.company-logo {
    display: inline-block;
    margin: 3em auto 0;
}

.login-frame {
    margin-right: 3em;
    margin-left: 1em;
}


input {
    margin: 0 auto;
    width: 90%;
    border-radius: .5em;
    padding: .65em;
    border: 0;
    background: #E8EEF5;
    outline: 0;
    cursor: pointer;
}

input.login-btn {
    background-color: #03026B;
    color: white;
    font-weight: 900;
    font-size: 1.125em;
    line-height: 1;
}

.loginfield-text:focus {
    box-shadow: 10px 10px 10px #03026B;
    ;
}

.loginfield-text:focus {
    box-shadow: 0 0 8px 1px #03026b;
}

input[type=submit]:hover {
    background-color: rgb(32, 30, 136);
}

/* BREAK POINTS */
@media screen and (min-device-width: 300px) and (max-width:589px) {
    .container {
        background: linear-gradient(79deg, #191478, #44addf);
    }

    .welcome {
        display: none;
    }

    .login-frame {
        width: 80%;
        max-width: 375px;
        margin: 0 auto;
        padding: 0 0 7em;
    }

    .company-logo {
        display: inline-block;
        margin: 3em auto 0;
    }

    div.ballon {
        width: 80px;
        height: 80px;
    }

}

@media screen and (min-width:590px) and (max-width:899px) {
    .container {
        background: url("../asset/login-background.jpg") 65% 35% no-repeat;
        background-size: cover;
    }

    .ballon.bottom {
        bottom: -470px;
        width: 4em;
        height: 4em;
    }

    .welcome-text {
        font-size: 2.8rem;
        padding: 0 .3em;
    }

    .welcome-cirlce {
        margin-left: -389px;
    }
}

@media screen and (min-width:900px) {
    .container {
        background: url("../asset/login-background.jpg") 65% 35% no-repeat;
        background-size: cover;
    }

    .login-frame {
        margin-right: 10em;
    }

    .welcome-cirlce {
        margin-left: -360px;
    }

    .welcome-text {
        font-size: 3.125em;
        padding: 0 .25em;
    }

    .ballon.bottom {
        bottom: -450px;
    }

}